/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

/**
 * Use this directive to control where Tailwind injects the hover, focus,
 * responsive, dark mode, and other variants of each class.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
@tailwind variants;

h1, .h1 {
  @apply text-white font-light text-5xl tracking-[-1px] mb-2 mt-12;
  & + h2, & + .h2, & + h3, & + .h3, & + h4, & + .h4, & + h5, & + .h5 {
    @apply mt-2;
  }
}
h2, .h2 {
  @apply text-white font-light text-4xl tracking-[-0.85px] mb-2 mt-10;
  & + h2, & + .h2, & + h3, & + .h3, & + h4, & + .h4, & + h5, & + .h5 {
    @apply mt-2;
  }
}
h3, .h3 {
  @apply text-white font-secondary font-bold text-3xl tracking-[-0.8px] mb-2 mt-7;
  & + h2, & + .h2, & + h3, & + .h3, & + h4, & + .h4, & + h5, & + .h5 {
    @apply mt-2;
  }
}
h4, .h4 {
  @apply text-white font-secondary font-bold text-2xl tracking-[-0.7px] mb-2 mt-5;
  & + h2, & + .h2, & + h3, & + .h3, & + h4, & + .h4, & + h5, & + .h5 {
    @apply mt-2;
  }
}
h5, .h5 {
  @apply text-white font-secondary font-bold text-xl tracking-[-0.7px] mb-2 mt-2;
  & + h2, & + .h2, & + h3, & + .h3, & + h4, & + .h4, & + h5, & + .h5 {
    @apply mt-2;
  }
}
.subtitle {
  @apply italic;
}
p {
  @apply text-sm text-white leading-4;
}

.bg-default {
  @apply bg-darkblueTransparent backdrop-blur-sm;
}

.btn {
  @apply px-2.5 py-2 rounded mr-2.5 min-w-buttonRegular inline-block text-center text-base font-bold text-main transition-all hover:shadow-lg ;
  // Button color
  &.btn-primary {
    @apply bg-main text-darkblue hover:bg-main-hover hover:shadow-main;
  }
  &.btn-dark {
    @apply bg-darkblue text-white hover:bg-darkSea;
  }
  &.btn-pink {
    @apply bg-pink text-darkblue text-white hover:bg-pink-hover hover:shadow-pink;
  }
  &.btn-danger {
    @apply bg-red text-darkblue text-white hover:bg-red-hover hover:shadow-red;
  }
  &.btn-success {
    @apply bg-green text-darkblue text-white hover:bg-green-hover hover:shadow-green;
  }
  &.btn-warning {
    @apply bg-orange text-darkblue text-white hover:bg-orange-hover hover:shadow-orange;
  }
  &.btn-info {
    @apply bg-blue text-darkblue text-white hover:bg-blue-hover hover:shadow-blue;
  }
  &.btn-white {
    @apply bg-white text-darkblue hover:bg-main-hover hover:shadow-white;
  }


  // Button size
  &.btn-small {
    @apply text-sm min-w-buttonSmall hover:shadow-lg;
  }
  &.btn-extrasmall {
    @apply text-xs min-w-buttonExtraSmall p-[5px] font-secondary hover:shadow-lg;
  }

  &.btn-ghost {
    @apply bg-transparent hover:shadow-none;
    &.btn-primary {
      @apply text-main hover:bg-main/10;
    }
    &.btn-dark {
      @apply text-darkblue hover:bg-darkblue/10;
    }
    &.btn-pink {
      @apply text-pink hover:bg-pink/10;
    }
    &.btn-danger {
      @apply text-red hover:bg-red/10;
    }
    &.btn-success {
      @apply text-green hover:bg-green/10;
    }
    &.btn-warning {
      @apply text-orange hover:bg-orange/10;
    }
    &.btn-info {
      @apply text-blue hover:bg-blue/10;
    }
    &.btn-white {
      @apply text-white hover:bg-white/10;
    }
  }

  // Button ghost
  &.btn-light {
    @apply hover:shadow-none;
    &.btn-primary {
      @apply bg-main/10 text-main hover:bg-main/20;
    }
    &.btn-dark {
      @apply bg-darkblue/10 text-darkblue hover:bg-darkblue/20;
    }
    &.btn-pink {
      @apply bg-pink/10 text-pink hover:bg-pink/20;
    }
    &.btn-danger {
      @apply bg-red/10 text-red hover:bg-red/20;
    }
    &.btn-success {
      @apply bg-green/10 text-green hover:bg-green/20;
    }
    &.btn-warning {
      @apply bg-orange/10 text-orange hover:bg-orange/20;
    }
    &.btn-info {
      @apply bg-blue/10 text-blue hover:bg-blue/20;
    }
    &.btn-white {
      @apply bg-white/10 text-white hover:bg-white/20;
    }
  }

  // Button bordered
  &.btn-bordered {
    @apply bg-transparent hover:shadow-none;
    &.btn-primary {
      @apply border border-solid border-main text-main hover:bg-main/10;
    }
    &.btn-dark {
      @apply border border-solid border-darkblue text-darkblue hover:bg-darkblue/10;
    }
    &.btn-pink {
      @apply border border-solid border-pink text-pink hover:bg-pink/10;
    }
    &.btn-danger {
      @apply border border-solid border-red text-red hover:bg-red/10;
    }
    &.btn-success {
      @apply border border-solid border-green text-green hover:bg-green/10;
    }
    &.btn-warning {
      @apply border border-solid border-orange text-orange hover:bg-orange/10;
    }
    &.btn-info {
      @apply border border-solid border-blue text-blue hover:bg-blue/10;
    }
    &.btn-white {
      @apply border border-solid border-white text-white hover:bg-white/10;
    }
  }
  &.btn-icon {
    @apply min-w-min;
  }
  // Button disabled
  &.btn-disabled {
    @apply opacity-40 pointer-events-none;
  }
}

label {
  @apply font-bold text-white px-[10px] pb-[5px] block text-lg;
  .is-optional {
    @apply font-normal text-lightBlue text-sm;
  }
}

input, textarea, select {
  @apply bg-greyDarkBlue px-[10px] py-[7px] mb-[15px] border border-solid border-deepBlue text-base not-italic text-white outline-none rounded w-full placeholder:italic placeholder:text-lightBlue focus:border-blue disabled:opacity-40;
  &.input-error {
    @apply bg-red-dark border border-solid border-red text-red placeholder:text-red-between;
  }
  &.input-success {
    @apply bg-green-dark border border-solid border-green text-green;
  }
  &.input-search, [type='search'] {
    @apply rounded-full pl-[40px];
  }
}

select {
  @apply relative before:content-[''] before:absolute before:w-3 before:h-3 before:bg-white before:opacity-30 before:top-0 before:right-0;

  /** for the dropdown indicator */
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}

textarea {
  @apply min-h-[100px];
}

.alert {
  @apply text-center text-white rounded-md bg-deepBlue shadow-alert relative;
  &.alert-danger {
    @apply bg-red-alert shadow-alertDanger;
  }
  &.alert-success {
    @apply bg-green-alert shadow-alertSuccess;
  }
  .alert-content {
    @apply p-5 pb-7;
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
      @apply mt-0;
    }
  }
  .alert-close {
    @apply absolute top-0 right-0 p-2.5 cursor-pointer;
  }
  .alert-buttons {
    @apply p-2.5 relative before:content-[''] before:absolute before:w-full before:h-px before:bg-white before:opacity-30 before:top-0 before:left-0;
  }
}